.label {
	font-weight: bold;
}

.title {
	font-family: 'Times New Roman', Times, serif;
	font-weight: regular;
}

html {
	font-weight: light;
}

.caption {
	padding-top: 10px;
	margin-bottom: -5px;
	/* padding-bottom: -5px; */
	/* padding-left: 15px; */
}

.userInfo {
	width: fit-content;
}
